body {
    font-family: 'Roboto', sans-serif;
}

header { 
    background: lightgreen;
}

nav {
    position: absolute;
    top: 90px;
    right: 0;
}

nav li {
    display: inline;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-right: 30px;
}

nav a:hover {
    color: #3867af;
    text-decoration: underline;
}

footer {
    text-align: center;
    background: rgb(96, 158, 96);
    padding: 40px 0;
}

.inscreva {
    color: rgb(255, 255, 255);
}

.inscreva:hover {
    color: red;
    text-decoration: underline;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
    padding-bottom: 25px;
}

.sobre {
    background-color: darkorange;
    
}

.titulo-sobre {
    display: flex;
    flex: 1;
    font-size: 30px;
    justify-content: center;
    
}

.texto-sobre {
    margin: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 19px;
    margin: 15px;
}

.cards {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: 8px;
    border-radius: 4px;
  }
  
  .image {
    padding: 16px;
    border-bottom: 1px solid lightgrey;
  }
  
  .text-card {
    padding: 8px;
  }



  .text {
    display: flex;
    flex: 1;
    margin-top: 16px;
  }
  
  .item-text-empty {
    flex: 1;
  }
  
  .text-item {
    flex: 3;
    padding: 4px;
    border: 1px solid lightgrey;
    background-color: #fff;
    border-radius: 4px;
    text-align: justify;
    font-size: 18px;
  }

.mapa {
	padding: 3em 0;
    background-color: aquamarine;
}

.titulo-mapa{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 30px;
    margin: 0 0 1em;
}

.texto{
    text-align: center;
    font-size: 19px;
    margin: 0 0 1em;
}

.conteudo-mapa {
	width: 940px;
	margin: 0 auto;
}

.video{
    padding: 3em 0;
	background:#6CA6CD;
}

.titulo-video{
    text-align: center;
    font-size: 30px;
    margin: 0 0 1em;
}

.conteudo-video{
    width: 560px;
	margin: 2em auto;
}

.container{
    padding: 3em 0;
    padding-left: 10em;
    background-color: red;
}

.titulo-form{
    text-align: center;
    font-size: 30px;
    margin: 0 0 1em;
}

form{
    margin: 40px 0;
    display: flex;
    flex:1;
    align-content: center;
    justify-content: flex-start;
    
}

.lista{
    width: 50%;
}

form label {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao{
    display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}