.logo {
    position: relative;
    width: 940px;
    margin: 0 auto;
}


.principal {
    display: flex;
    flex: 1;
    color: black;
    font-size: 20px;
    border-style: hidden;
}

.titulo-centralizado {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 0 1em;
    padding: 3em 0;
}

.mapa {
	padding: 3em 0;
    background-color: aquamarine;
}

.titulo-mapa{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 30px;
    margin: 0 0 1em;
}

.texto{
    text-align: center;
    font-size: 19px;
    margin: 0 0 1em;
}

.conteudo-mapa {
	width: 940px;
	margin: 0 auto;
}

.video{
    padding: 3em 0;
	background:#6CA6CD;
}

.titulo-video{
    text-align: center;
    font-size: 30px;
    margin: 0 0 1em;
}

.conteudo-video{
    width: 560px;
	margin: 2em auto;
}

.container{
    padding: 3em 0;
    padding-left: 10em;
    background-color: red;
}


form{
    margin: 40px 0;
    display: flex;
    flex:1;
    align-content: center;
    justify-content: flex-start;
    
}

.lista{
    width: 50%;
}

form label {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao{
    display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}